  
.timer {
    display: flex;
    justify-content: center;
  }
  .field {
    display: flex;
    flex-direction: column;
    /* width: 100px; */
    height: 40px;
    margin-right: 15px;
  }
  .value {
    font-size: 80px;
    text-align: center;
  }
  .label {
    font-size: 20px;
    text-align: center;
  }